div.card-panel
    p.note-date July 4, 2015
    p.note-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam tempora et, ut ad? Quis totam illum veniam labore recusandae consequuntur beatae eaque, aut. Ipsum, officia alias ut reprehenderit, nostrum deserunt.