extends layout

block content
    // Topbar Nav
    md-toolbar(layout="row" layout-align="space-between center" layout-padding)
        a(href="/")
            img(src="/img/spearhead-logo-lt.png").logo-top-nav
        div
            md-button(href="/") About Spearhead
            // md-button(href="/auth/account") Account
            md-button(href="/auth/logout") Logout

    div(layout="row" layout-fill)
        div.left-nav
            a(href="/dashboard#/")
                md-tooltip(md-direction="right") Dashboard
                md-icon.icon-48(md-svg-src="img/ic_dashboard_white_48px.svg" class="s48" aria-label="Dashboard")
            a(href="/projects#/")
                md-tooltip(md-direction="right") Projects
                md-icon.icon-48(md-svg-src="img/ic_poll_white_48px.svg" class="s48" aria-label="Projects")
        md-content(flex)
            ng-view