extends layout

block content
    h1 Welcome to the Dashboard
    div.full-height
        div.row
            div.col.s4
                h5 Today's Calendar
                div.day-calendar.grey.lighten-3
            div.col.s8
                h5 Task Queue
                div.task-queue.grey.lighten-3
        div.row
            div.col.s12
                h5 Weekly Calendar
                div.week-calendar.grey.lighten-3