extends layout

block content
    md-toolbar(layout="row" layout-align="space-between center")
        a(href="/")
            img(src="/img/spearhead-logo-lt.png").logo-top-nav
        a.nav-item(href="/") About Spearhead
        
    // Children layout will be rows here while the body is column layout
    md-content
        div(layout="column")
            // Container row for hero
            div(layout="row")
                span(flex="15")
                div(flex="40")
                    h1.home-title Spearhead is a simple, personal project management app
                    hr
                    p It helps you to get projects done on time.
                    md-button.md-raised.md-accent(href="#") Sign Up Free
                div(flex)
                    div.cta-form
                        form(action="/auth/login" method="POST")
                            span.login-title Login to Spearhead
                            div
                                md-input-container
                                    input#login-username(type="text" name="username" value="adam")
                                    label.login-label(for="login-username") Username
                                md-input-container
                                    input#login-password(type="password" name="password")
                                    label.login-label(for="login-password") Password
                                md-button.md-raised Login
                span(flex="15")
                
            // Container row for content
            div.content-container(layout="row")
                span(flex="15")
                div(flex="40")
                    h2 No more missed deadlines
                    p Avoid underestimating your workload and missing another deadline.  We know what happens when projects start to overlap and the tasks stack up.  You should be spending your weekend enjoying yourself, instead of catching up on work.
                span(flex="15")
                
            // Container row for steps content
            div.content-container(layout="row")
                span(flex="15")
                div(flex="35")
                    div
                        div.numbered-circle
                            span 1
                        h3.step-title Break up your project into stages
                        p 
                        img.numbered-circle-image(src="/img/stages.png")
                    div
                        div.numbered-circle
                            span 3
                        h3.step-title Block out your schedule
                        p
                        img.numbered-circle-image(src="/img/schedule.png")

                div(flex)
                    div
                        div.numbered-circle
                            span 2
                        h3.step-title Quickly estimate short-term tasks
                        p
                        img.numbered-circle-image(src="/img/tasks.png")
                    div
                        div.numbered-circle
                            span 4
                        h3.step-title See the big picture
                        p 
                        img.numbered-circle-image(src="/img/waterfall.png")
                span(flex="15")
                
        footer(layout="row" layout-align="center center")
            p Copyright 2015 © Spearhead