extends layout

block content
    body
        div.container
            div.row
                div.col.s12
                    h1 Welcome to Spearhead
                    p This will serve as the public homepage, and allow the user to login
                    hr
                    block login