extends layout

block content

    body
        div.navbar-fixed
            nav
                div.nav-wrapper
                    a(href="#").brand-logo
                        img(src="/img/spearhead-logo-lt.png").logo-top-nav
                    a(href="#" data-activates="nav-mobile").button-collapse
                        i.material-icons menu
                    ul#nav-desktop.right.hide-on-med-and-down
                        li
                            a(href="/about").nav-links About Spearhead
                        li
                            a(href="/account").nav-links Account
                        li
                            a(href="/logout").nav-links Logout

                    ul#nav-mobile.side-nav
                        li
                            a(href="/about") About Spearhead
                        li
                            a(href="/account") Account
                        li
                            a(href="/logout") Logout
                            
        div.container
            div.row
                div.col.s12
                    h1 Welcome to Spearhead
                    p This will serve as the public homepage, and allow the user to login
                    hr
                    block login