if (pathname == '/dashboard')
    - var app = 'dashboard'
else if (pathname == '/projects')
    - var app = 'projects'
else
    - var app = 'public'

doctype html
html(lang="en" ng-app="#{app}")
    head
        meta(charset="utf-8")
        title Spearhead | Project Management Simplified

        // Gulp Styles and Scripts
        link(rel="stylesheet" href="/css/build.css")

        if (pathname === '/')
            link(rel="stylesheet" href="/css/index/index.css")

        //link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        script(src="/js/build/head-scripts.js")

    body(layout="column" ng-cloak)
        include partials/gtm
        block content
        block modals

        script(src="/js/build/body-scripts.js")