extends layout

block content
    md-toolbar(layout="row" layout-align="space-between center")
        a(href="/")
            img(src="/img/spearhead-logo-lt.png").logo-top-nav
        a.nav-item(href="/") About Spearhead
        
    // Children layout will be rows here while the body is column layout for topbar and content stacked  
    md-content
        div(layout="row" layout-align="center center")
            div(layout="row" layout-sm="column" flex-gt-sm="50")
                div.login-form(flex)
                    h2.md-headline Login to Spearhead
                    form(action="/auth/login" method="POST")
                        md-input-container
                            label Username
                            input(type="text" name="username")
                        md-input-container
                            label Password
                            input(type="password" name="password")
                        md-button.md-raised.md-accent.btn-accent(type="submit") Login
                
                span(flex-gt-sm="10")
                
                div.login-form(flex)
                    h2.md-headline Create an Account
                    form(action="/auth/signup" method="POST")
                        md-input-container
                            label Username
                            input(type="text" name="username")
                        md-input-container
                            label Email
                            input(type="email" name="email")
                        md-input-container
                            label Password
                            input(type="password" name="password")
                        md-button.md-raised.md-accent.btn-accent(type="submit") Create Account