extends layout

block content
    h1 Your Projects
    a(href="#addProjectModal").btn.modal-trigger Add Project
    
block modals
    div#addProjectModal.modal
        div.modal-content
            h5 Add a Project
            div.input-field
                input(type="text")#project-name.validate
                label(for="project-name") Project Name
            div.input-field
                input(type="text")#start-date.validate
                label(for="start-date") Start Date
            div.input-field
                input(type="text")#end-date.validate
                label(for="end-date") Completion Date
        div.modal-footer
            a(href="#!").modal-action.modal-close.btn-flat Cancel
            a(href="#!").modal-action.modal-close.btn-flat Save