h1 Welcome to the Dashboard
div.full-height
    div.row
        div.col.s12
            h5 Weekly Calendar
            div.db-week-calendar.white
    div.row
        div.col.s4
            h5 Today's Calendar
            div.db-day-calendar.white
        div.col.s4
            h5 Task Queue
            div.db-task-queue.white
                ul.collection
                    li.collection-item Design Icons
                        span.badge 2 hrs
                    li.collection-item Markup UI Templates
                        span.badge 30 min
                    li.collection-item Configure Routes
                        span.badge 2 hrs
                    li.collection-item Configure Build Scripts
                        span.badge 1 hr
                    li.collection-item Design Icons
                        span.badge 2 hrs
                    li.collection-item Markup UI Templates
                        span.badge 30 min
                    li.collection-item Configure Routes
                        span.badge 2 hrs
                    li.collection-item Configure Build Scripts
                        span.badge 1 hr
                    li.collection-item Design Icons
                        span.badge 2 hrs
                    li.collection-item Markup UI Templates
                        span.badge 30 min
                    li.collection-item Configure Routes
                        span.badge 2 hrs
                    li.collection-item Configure Build Scripts
                        span.badge 1 hr
        div.col.s4
            h5 Quick Add
            div.db-quick-add.white
                form
                    div.input-field.col.s12
                        input(type="text" name="quick-task" id="quick-task").validate
                        label(for="quick-task") Add Task
                    div.input-field.col.s12
                        textarea(name="quick-task" id="quick-task").materialize-textarea
                        label(for="quick-note") Add Notes for this Task
                    div.input-field.col.s12
                        button(type="submit" width="100%").btn.waves-effect.waves-light.z-depth-1 Save Task

    select#change-color.browser-default
        option(value="teal") Teal
        option(value="indigo") Indigo
        option(value="blue") Blue
        option(value="cyan") Cyan
        option(value="green") Green
        option(value="light-green") Light Green
        option(value="amber") Amber
        option(value="deep-orange") Deep Orange