html, body {
    height: 100vh;
}
body {
    background-color: aliceblue;
}

.full-height {
    height: 100vh;
}

.full-width {
    width
}
.left {
    float: left;
}
.right {
    float: right;
}
/*
h2 {
    margin: 0;
    font-weight: normal;
}
h1 {
    font-size: 35px;
}

button {
    font-size: 12px;   
}
*/

