body,
md-content {
    background-color: aliceblue;
    font-family: Roboto, sans-serif;
}

.left {
    float: left;
}
.right {
    float: right;
}
.text-center {
    text-align: center;
}

a.md-button.md-accent.md-raised > span,
a.md-button.md-accent.md-fab > span,
.md-button.md-accent.md-raised > span,
.md-button.md-accent.md-fab > span {
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}

md-dialog h2 {
    color: white;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: none;
}