.hero-container {
    background-color: #d9e9f7;
    padding-top: 60px;
    padding-bottom: 70px;
}
.hero-container h1 {
    font-weight: 400;
    font-size: 35px;
}
.hero-container p {
    font-size: 22px;
}

.cta-form {
    position: absolute;
    background: url('/img/home-login-bg.svg') no-repeat;
    width: 350px;
    height: 350px;
    top: -1px;
    color: white;
    margin-left: 30px;
    padding: 65px 40px;
}
.cta-form label {
    color: #36415b;
}
.cta-form input {
    color: white;
    border-bottom: 1px solid #36415b;
}
#login-password:focus:not([readonly])+label, #login-username:focus:not([readonly])+label {
    color: #c6f5f1;
}
#login-password:focus,
#login-username:focus {
    border-bottom: 1px solid #c6f5f1;
    box-shadow: 0 1px 0 0 #c6f5f1;
}
.login-title {
    display: block;
    font-size: 28px;
    font-weight: 400;
    margin: 20px 0px;
}

.content-container {
    width: 100%;
    padding-top: 30px;
}
.content-container h2 {
    font-weight: 400;
    font-size: 32px;
}
.content-container h3 {
    font-size: 20px;
    font-weight: 400;
    padding-top: 12px;
    padding-left: 60px;
}

.numbered-circle {
    float: left;
    background-color: #36415b;
    border-radius: 100%;
    height: 50px;
    width: 50px;
}
.numbered-circle span {
    display: block;
    font-size: 20px;
    padding-left: 19px;
    padding-top: 10px;
    color: white;
}
.numbered-circle-image {
    width: 50%;
    margin-left: 60px;
}

/*
.step-title {
    padding-top: 12px;
    padding-left: 60px;
}
*/

footer {
    padding-top: 70px;
    color: #aaaaaa;
}