.static-side-nav-col {
    /* Override Materialize.css column */
    padding: 0 !important;
    position: fixed;
}
.static-side-nav {
    margin: 0;
}
.static-side-nav a li {
    padding: 20px 10px;
    font-size: 14px;
}
.static-side-nav a li:hover, .static-side-nav-active {
    background-color: #e3f2fd;
}
