#add-stage-input {
    margin-top: 30px;
}
#add-task-input, #add-note-input {
    margin-top: 65px;
}
.tasks-component {
    border-right: 1px solid #4d4d4d;
}
.task-content label {
    font-size: 18px;
    color: black;
}
.task {
    padding: 20px;
    background-color: aliceblue;
}
.task:hover {
    background-color: #CBE0E6;
}
.note-date {
    font-size: 14px;
    font-weight: bold;
}
.note-content {
    font-size: 14px;
}