.project-details-title {
    margin: 0;
}
.pipeline {
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
}
.tasks {
    border-right: 1px solid #c9c9c9;
}
.task-title, .note-title {
    float: left;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 10px;
}
.tasks-container, .notes-container {
    margin-top: 25px;
}
.task {
    padding: 20px;
    background-color: aliceblue;
}
.task:hover {
    background-color: #CBE0E6;
}

.notes-container {
    margin-top: 10px;
}
.note-card {
    position: relative;
    background-color: white;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.14),0 2px 2px 0 rgba(0,0,0,.098),0 1px 5px 0 rgba(0,0,0,.084);
    padding: 10px;
    margin-bottom: 5px;
}
.note-hover {
    position: absolute;
    top: 0;
    width: 98%;
    height: 100%;
}
.note-date {
    font-size: 14px;
    color: #a5a5a5;
}
.note-content {
    font-size: 14px;
}
.note-delete {
    position: absolute;
    visibility: hidden;
    cursor: pointer;
    top: 24px;
    right: 10px;
}
.note-hover:hover ~.note-delete {
    visibility: visible;
}
.note-delete:hover {
    visibility: visible;
}

.active-task {
    background-color: #e3f7fd;
}