// $scope: ProjectDetailsController
div.row
    div.col.s12
        h1 {{project.name}}
        button.btn(ng-click="showStageInput()") + Add Stage
    div#add-stage-input.input-field.col.s6.m3(ng-show="stageInput")
        input#add-stage(type="text" ng-model="newStage.name" ng-keyup="addStageKeyup($event.keyCode)" ng-blur="addStageBlur()")
        label(for="add-stage") Add a Stage to this project

div.row
    div.col.s12
        stage-pipeline
            // Task Pane
            div.col.s6.tasks-component
                div.row
                    div.col.s12
                        h2.left Tasks
                        button.btn-floating.add-task-btn(ng-click="showTaskInput()") +
                    div#add-task-input.input-field.col.s12(ng-show="taskInput")
                        input#add-task(type="text" ng-model="newTask.content" ng-keyup="addTaskKeyup($event.keyCode)" ng-blur="addTaskBlur()")
                        label(for="add-task") Add a Task to this Stage
                div(ng-repeat="task in activeTasks" ng-click="setActiveNotes($index)" ng-class="{'active-task': $index == taskIndex}").task
                    p.task-content
                        input(type="checkbox" id="{{$index}}" ng-checked="{{task.isCompleted}}")
                        label(for="{{$index}}") {{task.content}}

            // Notes Pane
            div.col.s6.notes-component
                div.row
                    div.col.s12
                        h2.left Notes
                        button.btn-floating.add-note-btn(ng-click="showNoteInput()") +
                    div#add-note-input.input-field.col.s12(ng-show="noteInput")
                        input#add-note(type="text" ng-model="newNote.content" ng-keyup="addNoteKeyup($event.keyCode)" ng-blur="addNoteBlur()")
                        label(for="add-note") Add a Note to this Task
                div.card-panel(ng-repeat="note in activeNotes")
                    p.note-date {{note.timestamp}}
                    p.note-content {{note.content}}