div.row
    div.col.s12
        h1 {{project.name}}
        button.btn(ng-click="showStageInput()") + Add Stage
    div#add-stage-input.input-field.col.s6.m3(ng-show="stageInput")
        input#add-stage(type="text" ng-model="newStage" ng-keyup="addStageKeyup($event.keyCode)" ng-blur="addStageBlur()")
        label(for="add-stage") Add a Stage to this project

// Pipeline directive
div.row
    div.col.s12
        stage-pipeline(data="{{project}}")
        
            // Task directives
            div.row
                div.col.s6.tasks-component
                    div.row
                        div.col.s12
                            h2.left Tasks
                            button.btn-floating.add-task-btn(ng-click="showTaskInput()") +
                        div#add-task-input.input-field.col.s12(ng-show="taskInput")
                            input#add-task(type="text" ng-model="newTask" ng-keyup="addTaskKeyup($event.keyCode)" ng-blur="addTaskBlur()")
                            label(for="add-task") Add a Task to this Stage
                    div(ng-repeat="task in project.stages[0].tasks").task
                        task(task="task" index="{{$index}}")

                div.col.s6.notes-component
                    div.row
                        div.col.s12
                            h2.left Notes
                            button.btn-floating.add-note-btn(ng-click="showNoteInput()") +
                        div#add-note-input.input-field.col.s12(ng-show="noteInput")
                            input#add-note(type="text" ng-model="newNote" ng-keyup="addNoteKeyup($event.keyCode)" ng-blur="addNoteBlur()")
                            label(for="add-note") Add a Note to this Task
                    div.card-panel
                        p.note-date July 4, 2015
                        p.note-content Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam tempora et, ut ad? Quis totam illum veniam labore recusandae consequuntur beatae eaque, aut. Ipsum, officia alias ut reprehenderit, nostrum deserunt.
