div(layout="row" layout-margin layout-padding)
    div
        h1.md-display-1.project-details-title {{project.name}}
        md-button.md-raised.md-accent(ng-click="showStageInput()") + Add Stage
        md-input-container(ng-show="stageInput")
            label Add a Stage
            input#add-stage(ng-model="newStage.name" ng-keyup="addStageKeyup($event.keyCode)" ng-blur="addStageBlur()")

div.pipeline
    stage-pipeline

div(layout="row" layout-margin layout-padding)
    div(flex).tasks
        h2.headline.task-title Tasks
        md-button.md-fab.md-mini(ng-click="showTaskInput()")
            md-icon(md-svg-src="img/ic_add_white_48px.svg")
        p {{newTask}}
        div(ng-show="taskInput" layout="row")
            md-input-container(flex="70")
                label Add a Task to this Stage
                input#add-task(ng-model="newTask.content")
            md-input-container(flex)
                label Duration
                md-select#task-duration(ng-model="newTask.duration")
                    md-option(ng-repeat="duration in durationOptions" value="{{duration.value}}" ng-click="addDuration(duration)") {{duration.selection}}

        div.tasks-container
            div(ng-repeat="task in activeTasks" ng-click="setActiveNotes($index)" ng-class="{'active-task': $index == taskIndex}").task
                div.task-content
                    md-checkbox(ng-click="checkTask($index)" ng-model="task.isCompleted") {{task.content}}
                    div.task-hover
                    md-icon.task-delete(md-svg-src="img/ic_clear_red_48px.svg")
                    span.task-duration {{task.duration}} hrs
                
    div(flex)
        h2.headline.task-title Notes
        md-button.md-fab.md-mini(ng-click="showNoteInput()")
            md-icon(md-svg-src="img/ic_add_white_48px.svg")
        md-input-container(ng-show="noteInput")
            label Add a Note to this Task
            input#add-note(ng-model="newNote.content" ng-keyup="addNoteKeyup($event.keyCode)" ng-blur="addNoteBlur()")
        div.notes-container
            div.note-card(ng-repeat="note in activeNotes")
                div.note-hover
                p.note-date {{note.timestamp | date:'medium'}}
                p.note-content {{note.content}}
                md-icon.note-delete(md-svg-src="img/ic_clear_red_48px.svg")