div(layout="row" layout-margin layout-padding flex)
    div(flex="50")
        h1.md-display-1.project-title Your Projects
        md-button.md-accent Add Project
    div(flex)
        label.date-label Start Date
        md-datepicker(md-placeholder="Choose Start date" ng-model="start")
    div(flex)
        label.date-label End Date
        md-datepicker(md-placeholder="Choose End date" ng-model="end")
    div(flex="5")

project-timeline(data="{{projects}}" start="{{start}}" end="{{end}}")

// Next figure out how to implement the dialog modals

//block modals
//    div#addProjectModal.modal
//        div.modal-content
//            h5 Add a Project
//            // These ng-models match our schema
//            form
//                div.input-field
//                    input(type="text" ng-model="newProject.name")#project-name
//                    label(for="project-name") Project Name
//                div.input-field
//                    input(type="date" ng-click="addStartDate()")#start-date.datepicker
//                    label(for="start-date") Start Date
//                div.input-field
//                    input(type="date" ng-click="addDueDate()")#end-date.datepicker
//                    label(for="end-date") Completion Date 
//                div.modal-footer
//                    a(ng-click="closeModal()").modal-action.modal-close.btn-flat Cancel
//                    a(ng-click="saveProject()").modal-action.modal-close.btn-flat Save